---
import TextDeco from "./../TextDeco.astro";

interface jsonLink {
  url: string;
  title: string;
  description: string;
  auxLink?: string;
  images?: string;
}

interface Props {
  linkJsonArray: jsonLink[];
}
const { linkJsonArray } = Astro.props;
---

{
  linkJsonArray
    .sort((a, b) => a.title.localeCompare(b.title))
    .map((link: jsonLink) => {
      if (link.auxLink) {
        let linkedDesc = link.description.split(/\${\d}/);
        const auxLinks = link.auxLink.split("|");
        return (
          <li>
            <TextDeco inline={false} url={link.url}>
              {link.title}
            </TextDeco>
            <span>
              {" "}
              -{" "}
              {linkedDesc.map((descChunk, index) => {
                if (auxLinks[index]) {
                  return (
                    <>
                      {descChunk} <TextDeco url={auxLinks[index].split(",")[0]}>{auxLinks[index].split(",")[1]}</TextDeco>
                    </>
                  );
                }
                return <>{descChunk}</>;
              })}
            </span>
          </li>
        );
      }
      return (
        <li>
          <TextDeco inline={false} url={link.url}>
            {link.title}
          </TextDeco>{" "}
          - {link.description}
        </li>
      );
    })
}
