---
import Layout from "../layouts/Layout.astro";
import TopNav from "@components/TopNav.astro";
import HomeSection from "@components/HomeSection.astro";
import HomeContentBox from "@components/HomeContentBox.astro";
import BadgeDisplay from "@components/BadgeDisplay.astro";
import { Image } from "astro:assets";
import ArgentRelax from "@assets/argent/ArgentRest_Luzzy.jpg";
import PageHeader from "@components/PageHeader.astro";
import SocialsList from "@components/SocialsList.astro";
import links from "@components/LinkList/lists/_links.json";
import LinkList from "@components/LinkList/LinkList.astro";
import SiteMap from "@components/SiteMap.astro";
import ChiStarHorizontalRule from "@components/ChiStarHorizontalRule.astro";
---

<Layout>
  <TopNav />
  <PageHeader leftRight="left">Links</PageHeader>
  <HomeSection darkBg={false} border={[]}>
    <HomeContentBox columns={["lg:col-start-3 lg:col-span-8 sm:col-start-2 sm:col-span-10 col-start-1 col-span-12"]}>
      <h2 class="text-6xl xs:text-7xl underline decoration-4 decoration-redLight mb-5 text-center">Site Map</h2>
      <SiteMap />
    </HomeContentBox>
    <ChiStarHorizontalRule />
    <HomeContentBox columns={["lg:col-start-3 lg:col-span-8 sm:col-start-2 sm:col-span-10 col-start-1 col-span-12"]}>
      <h2 id="socials" class="text-5xl xs:text-6xl underline decoration-4 decoration-redLight mb-5 text-center">More Regal</h2>
      <div class="py-8 flex flex-col sm:grid grid-cols-1 lg:grid-cols-2 gap-5 text-slate-200">
        <div class="xs:flex-row flex-col flex items-center gap-2">
          <h3 class="text-4xl">Socials</h3>
          <div class="xs:border-l-2 border-t-2 lg:border-t-0 xs:pt-0 pt-2 border-yellow pl-1">
            <SocialsList siteGroup="socials" />
          </div>
        </div>
        <div class="xs:flex-row flex-col flex gap-2 xs:justify-self-end items-center">
          <div class="xs:border-r-2 border-t-2 xs:border-t-0 lg:border-t-0 border-yellow xs:pr-2 xs:pt-0 pt-2 xs:order-1 order-2">
            <SocialsList siteGroup="galleries" />
          </div>
          <h3 class="text-4xl text-center xs:order-2 order-1">Art Galleries</h3>
        </div>
        <div class="xs:flex-row flex-col flex items-center gap-2 lg:col-span-2 lg:justify-self-center">
          <h3 class="text-4xl">Contact</h3>
          <div class="xs:border-l-2 xs:border-t-0 xs:border-b-2 border-t-2 lg:border-b-0 xs:pt-0 pt-2 border-yellow pl-1">
            <SocialsList siteGroup="contact" />
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <Image class="lg:max-w-[70%] rounded-md" src={ArgentRelax} alt="Argent Chill" />
      </div>
    </HomeContentBox>
    <ChiStarHorizontalRule />
    <HomeContentBox columns={["lg:col-start-3 lg:col-span-8 sm:col-start-2 sm:col-span-10 col-start-1 col-span-12"]}>
      <div class="flex flex-col divide-y-2 divide-stone-200">
        <div class="mx-2 xs:mx-20 pb-5">
          <h2 id="queerArt" class="text-5xl xs:text-6xl underline decoration-4 decoration-redLight mb-5 text-center">Queer Art</h2>
          <ul class="list-disc flex flex-col gap-2 text-stone-200 text-lg">
            <LinkList linkJsonArray={links.artLinks} />
          </ul>
        </div>
        <div class="mx-2 xs:mx-20 py-5">
          <h2 class="text-5xl xs:text-6xl underline decoration-4 decoration-redLight mb-5 text-center">WebDev</h2>
          <ul class="list-disc flex flex-col gap-2 text-stone-200 text-lg">
            <LinkList linkJsonArray={links.webDev} />
          </ul>
        </div>
        <div class="mx-2 xs:mx-20 pt-5">
          <h2 class="text-5xl xs:text-6xl underline decoration-4 decoration-redLight mb-5 text-center" id="misc">Misc Cool Sites</h2>
          <ul class="list-disc flex flex-col gap-2 text-stone-200 text-lg">
            <LinkList linkJsonArray={links.miscLinks} />
          </ul>
        </div>
      </div>
    </HomeContentBox>
    <ChiStarHorizontalRule />
    <HomeContentBox columns={["lg:col-start-2 lg:col-span-5 xs:col-start-2 xs:col-span-10 col-start-1 col-span-12 mb-5 xs:mb-0"]}>
      <div class="flex flex-col text-slate-200 justify-between">
        <h2 id="buttons" class="text-5xl xs:text-6xl underline decoration-4 decoration-redLight mb-5 text-center">Cool Folks</h2>
        <div class="content-center mb-5">
          <BadgeDisplay collection="critterBadges" />
        </div>
        <p class="mb-5">Internet creatures with very cool personal sites! Eternally grateful to them and others for inspiration in making my own UwU</p>
        <div class="border-t-2 border-slate-200 pt-3 self-end">
          <p>
            If you've linked me on your site, feel free to shoot me an email at
            <a class="text-yellow hover:cursor-pointer" href="mailto:regal@cobra.monster">regal@cobra.monster</a> with your button and site so I can link back!
          </p>
        </div>
      </div>
    </HomeContentBox>
    <HomeContentBox columns={["lg:col-start-7 lg:col-span-5 xs:col-start-2 xs:col-span-10 col-start-1 col-span-12"]}>
      <div class="flex flex-col text-slate-200 h-full justify-between">
        <h2 class="text-5xl xs:text-6xl underline decoration-4 decoration-redLight mb-5 text-center">Neat Buttons</h2>
        <div class="content-center mb-5">
          <BadgeDisplay collection="standardBadges" />
        </div>
        <p>If I find a neat button I just plop it here. Some of them are links!</p>
      </div>
    </HomeContentBox>
  </HomeSection>
</Layout>

<style>
  h1,
  h2 {
    font-family: "Prospekt Regular", sans-serif;
    color: white;
  }
</style>
