---
import { Image } from "astro:assets";
import vaporwaveArgent from "../assets/argent/vaporwaveArgent.png";
import { getCollection } from "astro:content";
import { sortCollection } from "src/utils/sortCollection";
const blurbEntries = await getCollection("posts");
const blurbs = sortCollection(
  blurbEntries.filter((blurb) => blurb.data.blogExclude),
  "title",
);
---

<div class="col-start-2 col-span-10 @container">
  <ul class="grid gap-5 grid-cols-[repeat(auto-fit,minmax(min(30ch,100%),1fr))] 2xl:grid-cols-4">
    <Image src={vaporwaveArgent} alt="Vaporwave Argent" loading="eager" class="self-center @min-[calc(30ch*2+1.25rem)]:order-first order-last row-span-2" />
    {
      blurbs.map((blurb) => {
        return (
          <li class=" p-5 bg-boxPrimary border-yellow border-4 text-slate-200 flex items-center min-h-48">
            {blurb.data.emoji && (
              <div class="flex-[1_1_0]">
                <Image src={blurb.data.emoji} alt={blurb.data.title} class="" />
              </div>
            )}
            <div class="ml-2 border-l-2 border-slate-2oo pl-4 flex-[3_1_0]">
              <h2 class="mb-2">
                <a
                  class="text-3xl hover:underline decoration-amber-400 decoration-2 cursor-pointer text-amber-300 visited:text-amber-600 visited:decoration-amber-600 font-medium text-wrap"
                  href={`/about/${blurb.slug}`}
                >
                  {blurb.data.title}
                </a>
              </h2>
              <p class="text-xl">{blurb.data.subtitle}</p>
            </div>
          </li>
        );
      })
    }
  </ul>
</div>
