---
import { getCollection } from "astro:content";
import { shuffleArray } from "../utils/arrayShuffle";
import { Image } from "astro:assets";

interface Props {
  collection: "critterBadges" | "standardBadges";
}

const { collection } = Astro.props;

const btnStyle = "transition duration-300 hover:scale-[1.5] cursor-pointer";

const badgesCollection = await getCollection(collection);
const badges = collection === "standardBadges" ? shuffleArray(badgesCollection) : badgesCollection.sort((a, b) => a.id.localeCompare(b.id));
---

<div class="flex flex-wrap gap-2 justify-center">
  {
    badges.map((badge) => {
      return badge.data.url ? (
        <a href={badge.data.url} class={btnStyle}>
          <Image src={badge.data.image} alt={badge.data.alt} width="88" height="31" title={badge.data.alt} class="badge" />
        </a>
      ) : (
        <Image src={badge.data.image} alt={badge.data.alt} width="88" height="31" title={badge.data.alt} class="badge" />
      );
    })
  }
</div>

<style>
  h3 {
    font-family: "Prospekt Regular", sans-serif;
  }
  .badge {
    image-rendering: pixelated;
  }
</style>
