---
import { Image } from "astro:assets";
import LinkButton from "@components/LinkButton.astro";
import argentAss from "@assets/argent/argentAss.png";
import BadgeDisplay from "@components/BadgeDisplay.astro";
import SocialsList from "@components/SocialsList.astro";
import CobraLogo from "@components/CobraLogo.astro";

interface Props {
  homePage?: boolean;
}

const { homePage } = Astro.props;
---

<!-- NOTE: Height of footer must be offset by padding-bottom in Layout -->
<footer
  class:list={[
    "bg-redDark border-redLight  text-stone-200 table-row h-auto border-separate ring-8 ring-redLight",
    `${homePage ? "min-h-[225px]" : "min-h-[75px]"}`,
  ]}
>
  {
    homePage && (
      <div class="flex flex-col xs:grid grid-cols-2 gap-2 m-5 pb-5 border-b-2 border-dashed border-yellow">
        <div class="flex flex-col justify-center items-center gap-2">
          <LinkButton button={false} to="/">
            <h2 class="text-2xl font-bold">Furry Fitness Webring</h2>
          </LinkButton>
          <ul class="flex justify-center gap-10">
            <li>
              <LinkButton button={false} to="/">
                ←︎ Previous
              </LinkButton>
            </li>
            <li>
              <LinkButton button={false} to="/">
                Next →︎
              </LinkButton>
            </li>
          </ul>
        </div>
        <div>
          <BadgeDisplay collection="standardBadges" />
        </div>
      </div>
    )
  }
  <div class="flex flex-col flex-wrap gap-4 p-5">
    <nav id="linkBox" class="grid grid-cols-2 xs:flex col-span-3 gap-5 justify-around w-full pb-5">
      <div class="flex flex-col ml-[25%] xs:ml-0">
        <h2 class="text-xl xs:text-2xl font-bold">Socials</h2>
        <SocialsList logos={false} siteGroup="socials" />
      </div>
      <div class="flex flex-col ml-[25%] xs:ml-0">
        <h2 class="text-xl xs:text-2xl font-bold">Cool Stuff</h2>
        <ul>
          <li>
            <LinkButton button={false} to="/about"> About Me </LinkButton>
          </li>
          <li>
            <LinkButton button={false} to="/links"> Links </LinkButton>
          </li>
          <li>
            <LinkButton button={false} to="/blog"> Blog </LinkButton>
          </li>
        </ul>
      </div>
      <div class="flex flex-col ml-[25%] xs:ml-0">
        <h2 class="text-xl xs:text-2xl font-bold">Site Info</h2>
        <ul>
          <li>
            <LinkButton button={false} to="/credits"> Site Credits </LinkButton>
          </li>
          <li>
            <LinkButton button={false} to="https://github.com/RegalRegex/cobra.monster"> Github </LinkButton>
          </li>
        </ul>
      </div>
      <div class="hidden xs:flex justify-self-center aspect-square max-w-[100px] hover:animate-assJiggle">
        <Image class="drop-shadow-lg" src={argentAss} alt="woohooehehee" />
      </div>
    </nav>
    <a href="/" class="w-full justify-center md:hidden flex items-center brightness-90 py-16 xs:py-5 border-t-2 border-slate-200">
      <div class="w-18 -ml-10">
        <CobraLogo />
      </div>
      <div class="text-white text-3xl flex items-center font-medium font-prospekt">
        COBRA<span class="text-4xl mb-1">★</span>MONSTER
      </div>
    </a>
  </div>
</footer>
