---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const {
  post: {
    slug,
    data: { title, subtitle, date },
  },
} = Astro.props;
/**
 * UI Element for displaying a preview of a blog post
 */
---

<div class="flex flex-col">
  <div class="flex flex-col sm:flex-row">
    <div id="dateSquareContainer" class="hidden sm:flex flex-col text-center px-2 text-slate-200 mr-2 h-max rounded-sm text-sm font-bold mt-1">
      <span>{date.toLocaleDateString("en-US", { day: "numeric" })}</span>
      <span>{date.toLocaleDateString("en-US", { month: "short" })}</span>
    </div>
    <div id="blogSummaryContainer" class="border-0 sm:border-l-2 border-slate-200">
      <div class="sm:ml-4 ml-0">
        <a class="w-max cursor-pointer" href=`/blog/${slug}`>
          <h2 class="text-xl sm:text-2xl md:text-3xl underline decoration-yellow font-medium">{title}</h2></a
        >
        <div class="block sm:hidden italic text-slate-200/70 text-sm">
          <span>{date.toLocaleDateString("en-US", { day: "numeric" })}</span>
          <span>{date.toLocaleDateString("en-US", { month: "short" })}</span>
          <span>{date.toLocaleDateString("en-US", { year: "numeric" })}</span>
        </div>
        <h3 class="text-lg text-slate-200">{subtitle}</h3>
      </div>
    </div>
  </div>
  {
    // <div class="flex justify-around w-full text-xl mt-5">
    //   <ChiStar red={true} />
    //   <ChiStar red={true} />
    //   <ChiStar red={true} />
    //   <ChiStar red={true} />
    // </div>
  }
</div>
