---
import { Image } from "astro:assets";
import Link from "./Link.astro";

import ArgentSymmetrical from "@assets/argent/SymmetricalArgent_Orion.png";
---

<div class="grid grid-cols-1 xs:grid-cols-2 auto-rows-min lg:flex justify-around gap-5 xs:justify-items-start justify-items-center">
  <div class="xs:hidden flex flex-col">
    <section>
      <h3 class="headerTxt text-4xl">About</h3>
      <ul>
        <li>
          <Link url="/about">About Regal</Link>
        </li>
        <li>
          <Link url="/blog">Blog</Link>
        </li>
        <li>
          <Link url="/credits">Credits & Site Info</Link>
          <ul class="pl-5 list-disc">
            <li><Link url="/credits#ArgentArt">Art Credits</Link></li>
            <li><Link url="/credits#Chicago">Design Credits</Link></li>
            <li><Link url="/" wip={true}>WebDev Log</Link></li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h3 class="headerTxt text-4xl">Furry Stuff</h3>
      <ul>
        <li><Link url="/" wip={true}>Fursona Page</Link></li>
        <li><Link url="/" wip={true}>OCs Page</Link></li>
        <li><Link url="/links#socials">Art Galleries</Link></li>
      </ul>
    </section>
    <section>
      <h3 class="headerTxt text-4xl">Tools</h3>
      <ul>
        <li>
          <Link url="/" wip={true}>WIP</Link>
        </li>
      </ul>
    </section>
    <section>
      <h3 class="headerTxt text-4xl">Cool Links</h3>
      <ul>
        <li>
          <Link url="/links#queerArt">Queer Art & Misc. Links</Link>
        </li>
        <li>
          <Link url="/links#88x31">88x31 Buttons</Link>
        </li>
      </ul>
    </section>
  </div>
  <div class="xs:flex basis-1/3 flex-col gap-5 xs:col-span-1 hidden items-center xs:m-auto lg:m-0">
    <div>
      <section>
        <h3 class="headerTxt text-4xl">About</h3>
        <ul>
          <!-- <ul class="pl-5 list-disc list-outside [&_ul]:list-[revert]"> -->
          <li>
            <Link url="/about">About Regal</Link>
          </li>
          <li>
            <Link url="/blog">Blog</Link>
          </li>
          <li>
            <Link url="/credits">Credits & Site Info</Link>
            <ul class="pl-5 list-disc">
              <li><Link url="/credits#ArgentArt">Art Credits</Link></li>
              <li><Link url="/credits#Chicago">Design Credits</Link></li>
              <li><Link url="/" wip={true}>WebDev Log</Link></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="basis-1/3 col-span-1 xs:col-span-2 xs:row-start-2 row-start-3 self-center">
    <Image src={ArgentSymmetrical} alt="Argent Symm" class="rounded-lg max-w-[80%] lg:max-w-[100%] m-auto" />
  </div>
  <div class="xs:flex flex-col gap-5 xs:col-span-1 basis-1/3 hidden items-center xs:m-auto lg:m-0">
    <div>
      <section>
        <h3 class="headerTxt text-4xl">Furry Stuff</h3>
        <ul>
          <li><Link url="/" wip={true}>Fursona Page</Link></li>
          <li><Link url="/" wip={true}>OCs Page</Link></li>
          <li><Link url="/links#socials">Art Galleries</Link></li>
        </ul>
      </section>
      <section>
        <h3 class="headerTxt text-4xl">Tools</h3>
        <ul>
          <li>
            <Link url="/" wip={true}>WIP</Link>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="headerTxt text-4xl">Cool Links</h3>
        <ul>
          <li>
            <Link url="/links#queerArt">Queer Art & Misc. Links</Link>
          </li>
          <li>
            <Link url="/links#88x31">88x31 Buttons</Link>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
